  <body>
    <section class="contact">
      <div class="content">
        <h2>Pour nous contactez , c'est ici!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod est nesciunt adipisci. Officia libero fuga corporis aliquam corrupti? Consequatur facilis aspernatur reiciendis ullam. Pariatur laudantium quidem quas numquam laboriosam consequuntur!</p>

      </div>
    <div class="container">
      <div class="contactInfo">
        <div class="box">
          <div class="icone"></div>
            <div class="text">
              <h3>Adresse</h3>
              <p>dsfuhfbezischzenfuze!omv</p>
            </div>
          </div>
          <div class="box">
            <div class="icone"></div>
              <div class="text">
                <h3>Email</h3>
                <p>dsfuhfbezischzenfuze!omv</p>
              </div>
            </div>
            <div class="box">
              <div class="icone"></div>
                <div class="text">
                  <h3>Telephone</h3>
                  <p>234258250435</p>
                </div>
              </div>
          </div>
          <div class="contact-from">
          <form>
        <h4>Envoyer un Message</h4>  
        <div class="inputbox">
          <input type="text" name="" required="required" placeholder="Nom">
          
        </div> 
        <div class="inputbox">
          <input type="text" name="" required="required" placeholder="Mail">
        </div> 
        <div class="inputbox">
          <textarea required="required"></textarea>
          <span>message</span>
        </div>
        <div class="inputbox" class="btn">
          <input type="submit" name="" value="send">
        </div>
      </form> 
      </div>
      </div>
    </section>
  </body>