<body>
  <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="container">
      <div class="form">
          <h2>Pour Nous contactez, c'est Ici!</h2>
            <form>
                  <div class="form-group">
                      <div class="input-group" >
                              <input  type="email" placeholder="Nom">
                              </div>
                      <div class="input-group">
                          <input type="text"  placeholder="Email">
                          <br>
                        </div>
                        <div class="input-group" >
                      <div class="textra">
                        <textarea  type="text"  placeholder="laissez un message" ></textarea>
                          </div></div>
                          <div class="input-group">
                              <button type="submit" class="btn btn-success m-4 p-2">Envoyer</button>
                              <button type="reset" class="btn btn-danger p-2 mb-4">Annuler</button>
                      <p>
                        Pas encore Inscrit ? Inscrivez vous!
                      </p>
                              <button  class="btn btn-success" routerLink="/inscription">Inscrivez-vous</button>
                          </div>
              </div>
          </form>
          </div>
          </div>
  </section>
</body>