<body>
  <section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
<div class="container">
  <form class="form">
  <h2>Contactez-Nous</h2>
  <form action="#" method="post">
    <div class="input-group">
    <h3>Votre projet:</h3>
    <input type="radio" id="red" name="color" value="red">
    <label for="red">Inter entreprise</label>

    <input type="radio" id="green" name="color" value="green">
    <label for="green">Intra entreprise</label>

    <input type="radio" id="blue" name="color" value="blue">
    <label for="blue">Sur mesure</label>
    </div>
    <div class="input-group">
    <input type="text" id="name" name="name" placeholder="Nom" required><br>

    <input type="email" id="email" name="email" placeholder="Email" required><br>
<br>
    <textarea id="message" name="message" rows="4"  placeholder="message"    required></textarea><br>


    <textarea id="feedback" name="feedback" rows="4" placeholder="laissez votre avis"></textarea>
    <div class="input-group">
    <input type="submit" value="Envoyer"></div>
    <div class="input-group">
      <p>Inscrivez-vous Ici !</p>
          <button  routerLink="/inscription" class="btn btn-success p-3 m-4">S'inscrire !</button>
          <button type="reset" class="btn btn-danger p-3 m-4">Annuler</button>
          </div>
    </div>      
</form>
</form>
</div>
  </section>
</body>
