    body{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .contact{
        position: relative;
        min-height: 100vh;
        padding: 50px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url(/src/assets/images/contact.jpg);
        background-size: cover;
    }
    .contact .content {
        max-width: 800px;
        text-align: center;

    }
    .contact .content h2{
        font-size: 36px;
        font-weight: 500;
        color:#5065A8;
    }
    .contact .content p{
        font-weight:300px ;
        color:#5065A8;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .container .contactInfo{
        width:300px;
        display: flex;
        flex-direction: column;
    }
    .container .contactInfo .box{
        position: relative;
        padding: 20px 0;
        display: flex;
    }
    form input{
        align-items: center;
        margin-bottom: 10px;
        width:45%;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 15px;
        
    }
    form input{
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        }
        
form{
            color: #5065A8;
            width:100%;
            border: none;
            outline: none;
            border-radius: 20px;
            font-size: 15px;
            letter-spacing: 1px;
            align-items: center;
        
        }
.btn{
    width:50%;
    background:rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    padding: 8px;
    margin: 5px;
    border-radius: 20px;
    color:#90a3e2;
    font-size: medium;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0.3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ; 
}        