
    

    <nav class="nav">
        <div class="logo">
            <h2>
                <img [src]="img" width="60px" height="60px">
                IT-Training
            </h2>
        </div>
        <ul class="">
            <li>
                <a routerLink="/home">Accueil</a>
            </li>
            <li>
                <a routerLink="/aPropos">A Propos</a>
            </li>
            <li>
                <a routerLink="/products">NOS Formations</a>
            </li>
            <li>
                <a routerLink="/contacter">Contactez-Nous</a>
            </li>
        </ul>
        <!-- Si nous ne sommes pas connecter alors on affiche les boutons connexion et inscription -->
        @if(!isAuthentificated){
        <ul class="d-flex align-items-center">
            <li>
                <button routerLink="/inscription">Inscription</button>
            </li>
            <li>
                <button routerLink="/connexion">Connexion</button>
            </li>
            <hr>
        </ul>
    }
    <!-- Si nous sommes authentifié -->
        @if(isAuthentificated){
        <ul >
            <!-- Et que User existe -->
            @if (user) {
                <!-- Si nous sommes définis comem admin on affiche le bouton DashBoard -->
                @if(user.role === "ADMIN"){
                    <li>
                        <button routerLink="/dashboard">Panneau Administrateur</button>
                    </li>
                }
                @if(user.nom){
                    <li>
                        <button routerLink="/monProfil">Bienvenue {{user.pseudo}} !</button>
                    </li>
                }
            }
            <li>
                <button (click)="deconnexion()">Deconnexion</button>
            </li>
            <hr>
        </ul>
        }
    </nav>
    

