<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
<mat-toolbar>
    <nav class="d-flex justify-content-between align-items-center">
        <div class="logo">
            <h2>
                <img [src]="img" width="60px" height="60px">
                IT-Training
            </h2>
        </div>
        <ul class="d-flex align-items-center">
            <li>
                <a routerLink="/home">Accueil</a>
            </li>
            <li>
                <a routerLink="/aPropos">A Propos</a>
            </li>
            <li>
                <a routerLink="/products">NOS Formations</a>
            </li>
            <li>
                <a routerLink="/contacter">Contactez-Nous</a>
            </li>
        </ul>
        <ul class="d-flex align-items-center">
            <li>
                <button routerLink="/inscription">Inscription</button>
            </li>
            <li>
                <button routerLink="/connexion">Connexion</button>
            </li>
        </ul>
    </nav>
</mat-toolbar>


<!-- ToDo : Voir avec cédric WHAT IS THE FUCK IS APPENNIIIIIIIINNNNNG -->
<!-- <mat-toolbar>

    <img [src]="img" routerLink="/home">
    <h2>Bonjour admin</h2>

    <button mat-button routerLink="/home" class="nav-button">Accueil</button>
    <button mat-button routerLink="/dashboard" class="nav-button">Tableau de bord</button>
    <button mat-button routerLink="/dashboard/formations" class="nav-button">Formations</button>
    <button mat-button routerLink="/dashboard/stagiaires" class="nav-button">Stagiaires</button>
    <button mat-button routerLink="/dashboard/formateurs" class="nav-button">Formateurs</button>
    <button mat-button routerLink="/dashboard/messages" class="nav-button">Messages</button>

</mat-toolbar> -->
