
<body>
    <h1>TABLEAU DE BORD ADMIN</h1>
            <div class="container" >   
                <div class="box1" >
                    <button routerLink="/dashboard/formation" >
                        <h3 >
                            Formations
                        </h3>
                        <span>(A venir)</span>
                    </button>
                </div>
                <div class="box1" >
                    <button routerLink="/dashboard/candidats" >
                        <h3 >
                            Candidats
                        </h3>
                        <span>(Nb d'inscrits)</span>
                            <p>{{ nbCandidats }}</p>
                        
                    </button>
                </div>
                <div class="box1">
                    <button routerLink="/dashboard/stagiaires" >
                        <h3>
                            Stagiaires
                        </h3>
                        <span>(Nb d'inscrits)</span>
                        <p>{{ nbStagiaires }}</p>
                    </button>
                </div>
            </div>
            <div class="container" > 
                <div class="box1">
                    <button routerLink="/dashboard/stagiaires" >
                        <h3>
                            Formateur
                        </h3>
                        <span>(Nb d'inscrits)</span>
                        <p>{{ nbStagiaires }}</p>
                    </button>
                </div>
                <div class="box1">
                    <button routerLink="/dashboard/stagiaires" >
                        <h3>
                            Messages
                        </h3>
                        <span>(Nb d'inscrits)</span>
                        <p>{{ nbStagiaires }}</p>
                    </button>
                </div>
                <!-- <div >
                    <button routerLink="/dashboard/formateurs" >
                        <h5 >Formateurs</h5>
                        <span>(Disponible)</span>
                    </button>
                </div> -->
                <!-- <div >
                    <button routerLink="/dashboard/messages">Messages
                        <h5 >Messages</h5>
                        <span>(A venir)</span>
                    </button>
                </div> -->
            </div>
</body>
    <!-- <mat-toolbar>

        <img [src]="img" routerLink="/home">
        <h2>Bonjour admin</h2>
    
        <button mat-button routerLink="/home" class="nav-button">Accueil</button>
        <button mat-button routerLink="/dashboard" class="nav-button">Tableau de bord</button>
        <button mat-button routerLink="/dashboard/formations" class="nav-button">Formations</button>
        <button mat-button routerLink="/dashboard/stagiaires" class="nav-button">Stagiaires</button>
        <button mat-button routerLink="/dashboard/formateurs" class="nav-button">Formateurs</button>
        <button mat-button routerLink="/dashboard/messages" class="nav-button">Messages</button>
    
    </mat-toolbar> -->