<body>
    <section>
        <div class="container">
            <div class="inscription-form">
                <h2 class="center-text">Inscription à une formation</h2>
                @if (formation) {
                    <h3 class="center-text">{{ formation.nom }}</h3>
                }
                <form (ngSubmit)="submitInscription()">
                    
                    <div class="form-group">
                        <label for="bootcampDebut">Date de début</label>
                        <input type="text" id="bootcampDebut" name="bootcampDebut" [(ngModel)]="bootcamp.dateDebut"
                            placeholder="Date de début" disabled [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="bootcampFin">Date de fin</label>
                        <input type="text" id="bootcampFin" [(ngModel)]="bootcamp.dateFin"
                            placeholder="Date de fin" disabled [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="bootcampFin">Lieu</label>
                        <input type="text" id="bootcampLieu" [(ngModel)]="bootcamp.lieu.raisonSociale"
                            placeholder="Date de fin" disabled [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <h4>Valider votre inscription</h4>
                        <button type="submit" class="btn btn-success">Confirmer Inscription</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
