<body>
    <div class="container">
        <h1>Inscrivez-vous</h1>
        <div class="row justify-content-center">
            <form [formGroup]="stagiairesForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div>
                                <label class="form-label">Nom  </label>
                                <input type="text" formControlName="nom" class="form-control">
                                @if (submitted && !form['nom'].valid) {
                                    <span class="text-danger small">*Nom invalide</span>
                                }
                            </div>
                            <div>
                                <label class="form-label">Prenom  </label>
                                <input type="text" formControlName="prenom" class="form-control">
                                @if (submitted && !form['prenom'].valid) {
                                    <span class="text-danger small">*Prenom invalide</span>
                                }
                            </div>
                        </div>
                    </div>                
                    <div class="form-group">
                        <div class="row">
                        
                                <label class="form-label">Telephone  </label>
                                <input type="email" formControlName="telephone" class="form-control">
                                @if (submitted && !form['telephone'].valid) {
                                    <span class="text-danger small">*Téléphone invalide</span>
                                }
                            </div>
                            <div>
                                <label class="form-label">Email </label>
                                <input type="email" formControlName="email" class="form-control">
                                @if (submitted && !form['email'].valid) {
                                    <span class="text-danger small">*Email invalide</span>
                                }
                            </div>
                        </div>
        
                    <div class="form-group">
                        <div class="row">
                            
                                <label class="form-label">Pseudo  </label>
                                <input type="text" formControlName="pseudo" class="form-control">
                                @if (submitted && !form['pseudo'].valid) {
                                    <span class="text-danger small">*Pseudo invalide</span>
                                }
                            </div>
                            <div class="col-md-6 w-90 mt-2">
                                <label class="form-label">Mot de passe  </label>
                                <input type="text" formControlName="mdp" class="form-control">
                                @if (submitted && !form['mdp'].valid) {
                                    <span class="text-danger small">
                                        *Le mot de passe doit contenir au moins 8 caractères, 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial
                                    </span>
                                }
                            </div>
                        </div>
                
                    <div class="form-group">
                        <div class="row">
                    
                                <label class="form-label">Rôle  </label>
                                <select class="form-select" name="select" formControlName="role">
                                    <option value=""></option>
                                    <option value="CANDIDAT">Candidat</option>
                                    <option value="FORMATEUR">Formateur</option>
                                </select>
                                @if (submitted && !form['role'].valid) {
                                    <span class="text-danger small">*Role invalide</span>
                                }
                            </div>
                        </div>
                    
                    <div>
                        <button type="submit" class="btn btn-success p-3 m-4">S'inscrire</button>
                        <button type="reset" class="btn btn-danger p-3 m-4">Annuler</button>
                    </div>
                </fieldset>
            </form>
            <div class="row justify-content-center">
                
                    <p class="row justify-content-center">
                        Vous avez déjà un compte ?
                        <button  routerLink="/connexion">Connectez-vous !</button>
                    </p>
                </div>
            </div>
        </div>

</body>