body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card {
  width: 450px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: aliceblue; /* Couleur bleue plus claire */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.header-image {
  display: flex;
  align-items: left;
  padding: 10px;
}

.logo {
  background-image: url(../../../../assets/images/logo.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left; /* Aligner le titre à gauche */
}


.cover {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.description {
  margin-top: 5px;
}

.actions {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.description {
  margin-top: 10px; /* Ajuster l'espace au-dessus de la description */
  text-align: justify; /* Justifier le texte */
  font-size: 14px; /* Taille de la police */
  color: #333; /* Couleur du texte */
  line-height: 1.5; /* Hauteur de ligne */
}

.description p {
  margin: 0; /* Supprimer la marge par défaut du paragraphe */
}
