<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="header-image">
                    <div class="logo"></div>
                    <div class="title">
                        {{ product.nom }}
                    </div>
                </div>
                <hr>

                @if (!product.img) {
                    <img class="cover" src="../../../../assets/images/photo2.jpg" alt="IT-Training" />
                }
                @if (product.img) {
                    <img class="cover" [src]="product.img" [alt]="product.nom" />
                }

                @if (product.description) {
                    <div class="description">
                        <p> {{ product.description | slice: 0:100 }}...</p>
                    </div>
                }
            </div>

            <div class="actions">
                @if (product) {
                    <button routerLink="/products/formations/{{ product.id }}">Details</button>
                }
            </div>
        </div>
    </div>
</body>
