.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card {
  width: 480px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue; 
  height: 450px; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
}

.header-image {
  display: flex;
  align-items: left;
  padding: 10px;
}

.logo {
  background-image: url(../../../../assets/images/logo.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.image-container {
  width: 100%;
  height: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.cover {
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover; 
  object-position: center; 
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.description p {
  margin: 0;
}

.details-button {
  // margin-top: auto;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: #5065A8; 
  border: 1px solid #fff; 
  border-radius: 5px; 
}

.details-button:hover {
  background-color: #fff; 
  color: #5065A8; 
}

