<body>
    <h2>A propos</h2>
    <div class="container">
        <div class="box">
            <div class="logo"><i class="fa" fa-search aria-hidden="true"></i></div>
            <div class="content">
                <h3>Nos formation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, distinctio facilis consequuntur iste similique autem nisi voluptates labore, a voluptatum vero corrupti voluptate nemo quam necessitatibus ea! Molestiae, adipisci!</p>
            </div>
        </div>
        <div class="box">
            <div class="logo" src="./../../../assets/images/LOGO1.png"><i class="fa" fa-search aria-hidden="true"></i></div>
            <div class="content">
                <h3>Fomation intra et sur-mesure</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, distinctio facilis consequuntur iste similique autem nisi voluptates labore, a voluptatum vero corrupti voluptate nemo quam necessitatibus ea! Molestiae, adipisci!</p>
        </div></div>
        <div class="box">
            <div class="logo" style="--img:url(src/assets/images/logo1.gif);" ><i class="fa" fa-search aria-hidden="true"></i></div>
            <div class="content">
                <h3>Formation à distance</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, distinctio facilis consequuntur iste similique autem nisi voluptates labore, a voluptatum vero corrupti voluptate nemo quam necessitatibus ea! Molestiae, adipisci!</p>
        </div>
        </div>
        <div class="container">
        <div class="box">
            <div class="logo" style="--img:url(src/assets/images/logo1.gif);" ><i class="fa" fa-search aria-hidden="true"></i></div>
            <div class="content">
                <h3>Formation blended</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, distinctio facilis consequuntur iste similique autem nisi voluptates labore, a voluptatum vero corrupti voluptate nemo quam necessitatibus ea! Molestiae, adipisci!</p>
        </div></div>
        <div class="box">
            <div class="logo" style="--img:url(src/assets/images/logo1.gif);" ><i class="fa" fa-search aria-hidden="true"></i></div>
            <div class="content">
                <h3>Reclassement et Reskilling</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, distinctio facilis consequuntur iste similique autem nisi voluptates labore, a voluptatum vero corrupti voluptate nemo quam necessitatibus ea! Molestiae, adipisci!</p>
        </div></div>
        <div class="box">
            <div class="logo"><i class="fa" fa-search aria-hidden="true"></i></div>
            <div class="content">
                <h3>POE/Aide au recrutement</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, distinctio facilis consequuntur iste similique autem nisi voluptates labore, a voluptatum vero corrupti voluptate nemo quam necessitatibus ea! Molestiae, adipisci!</p>
            </div>
        </div>
    </div> 
    </div>
    </body>