<mat-toolbar>

    <img [src]="img" routerLink="/home">
    <h2>Bonjour admin</h2>

    <button mat-button routerLink="/home" class="nav-button">Accueil</button>
    <button mat-button routerLink="/dashboard" class="nav-button">Tableau de bord</button>
    <button mat-button routerLink="/dashboard/formations" class="nav-button">Formations</button>
    <button mat-button routerLink="/dashboard/stagiaires" class="nav-button">Stagiaires</button>
    <button mat-button routerLink="/dashboard/formateurs" class="nav-button">Formateurs</button>
    <button mat-button routerLink="/dashboard/messages" class="nav-button">Messages</button>

</mat-toolbar>
