
<!-- <app-product-card [product]="productElement"></app-product-card> -->


<div class="container">
    <div class="container">
        <app-product-admin-list></app-product-admin-list>
        <h2>Liste des formations</h2>
        <!-- @for(session of sessionsFormation; track session.id){
            <p>{{session.id}}</p>
            <p>{{session.dateDebut}}</p>
            <p>{{session.dateFin}}</p>
            <p>{{session.formation}}</p>
            <p>{{session.statut}}</p>
        } -->
</div>
