<div class="footer1">

  <div class="certificat">
    <h4>Nos Certification</h4>
    <img src="./../../../assets/images/images.png" width="200px" height="100px">
  </div>

  <div class="icone">
    <h4>Rejoignez-Nous</h4><img src="./../../../assets/images/icone.gif" width="250" height="100">
  </div>

  <div>
    <a routerLink="/Contactez-Nous"><h4>Contactez-Nous</h4></a>
    <div>
      <h4>+33 377 19 50 85</h4>
    </div>
  </div>

  <div class="search-container">
    <input type="text" placeholder="Rechercher...">
  </div>
</div>

<footer class="footer">
  <p>&copy; 2024 IT-Training. </p>
</footer>